@mixin prestationPC() {
  	div, div > a, a:last-child {
  		display: flex;
	  	flex-direction: row;
	  	flex-wrap: wrap;
  	}
  	div > a > p{
  		@include grille(12, 1.6%, 0, 8);
  	}
  	div > a > img{
		@include grille(12, 1.6%, 1, 3);
	}
	div >a:nth-child(3) > p{
		@include grille(12, 1.6%, 0, 7);
	}
	div > a:nth-child(1){
		@include grille(12, 1.6%, 1, 7);
		text-align:center;
	}
	div > a:nth-child(1) > p{
		@include grille(2, 1.6%, 0, 1);
	}
	div > p{
		@include grille(12, 1.6%, 0, 3);
		text-align:center;
	}
	a:last-child > button{
		height:50px;
		width: 50px;
	}
	div > :nth-last-child(2){
		@include grille(10, 1.6%, 0, 9);
	}
	div > :last-child{
		//@include grille(10, 1.6%, 0, 1);
	}
}

@mixin prestationMobile(){
	div > a > img{
		@include grille(12, 1.6%, 0, 4);
	}
	div > a > p{
		@include grille(12, 1.6%, 0, 8);
	}
	div > a:nth-child(3) > p{
		@include grille(12, 1.6%, 0, 8);
	}
	div > a, div{
		display: flex;
		flex-direction:row;
		flex-wrap:wrap;
	}
	div > a:nth-child(1){
		@include grille(12, 1.6%, 0, 8);
		text-align:center;
	}
	div > a:nth-child(1) > p{
		@include grille(2, 1.6%, 0, 1);
	}
	div > p{
		@include grille(3, 1.6%, 0, 1);
		text-align:center;
	}
	button{
		@include grille(12, 1.6%, 3, 6);
		height:50px;
	}
	a:last-child > button{
		height:50px;
		width:50px;
	}
	div > :nth-last-child(2){
		@include grille(10, 1.6%, 0, 8);
	}
	div > :last-child{
		@include grille(10, 1.6%, 0, 2);
	}
}