/*
$cols: dans une grille de x colonnes
*/
/*
.col{
	margin-left: $size_gutter;
	margin-bottom: 5px;
	box-sizing: border-box;
}*/
/* Debut regle global */
body {
  margin: 0;
  background-color: #eaecee; }

h1 {
  text-align: center; }

* {
  font-family: sans-serif; }

a {
  color: black;
  text-decoration: none; }

/* Fin regle global */
/* Debut Menu */
body > footer {
  text-align: center;
  margin-top: 50px;
  width: 96.8%;
  margin-left: 1.6%; }

header {
  background-color: DarkGray; }

header div > div {
  height: 50px; }

header button {
  height: 50px;
  width: 100%; }

header a:first-child {
  flex-grow: 1;
  color: #00f0f0; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

header > div {
  width: 96.8%;
  margin-left: 1.6%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-bottom: 10px; }

button, input {
  height: 30px; }

#home > img:first-child {
  width: 100%; }

@media all and (max-width: 720px) {
  header div > div {
    width: 47.6%;
    margin-left: 1.6%; }

  header a:first-child {
    width: 96.8%;
    margin-left: 1.6%; }

  #home > img:first-child {
    display: none; } }
@media all and (min-width: 720px) {
  header a:first-child {
    width: 96.8%;
    margin-left: 1.6%; }

  header div > div {
    width: 14.8%;
    margin-left: 1.6%; } }
/* Fin Menu */
/* Debut Home */
#home > div > div > a:nth-child(2) {
  width: 31.2%;
  margin-left: 1.6%;
  text-align: center; }

#home > div > div > a:nth-child(3) {
  width: 96.8%;
  margin-left: 1.6%; }

#home > div:nth-child(2) > a:nth-child(8) > button:nth-child(1) {
  height: 50px; }

@media all and (max-width: 720px) {
  #home > div div > a > img {
    width: 31.2%;
    margin-left: 1.6%; }
  #home > div div > a > p {
    width: 64%;
    margin-left: 1.6%; }
  #home > div div > a:nth-child(3) > p {
    width: 64%;
    margin-left: 1.6%; }
  #home > div div > a, #home > div div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  #home > div div > a:nth-child(1) {
    width: 64%;
    margin-left: 1.6%;
    text-align: center; }
  #home > div div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }
  #home > div div > p {
    width: 31.2%;
    margin-left: 1.6%;
    text-align: center; }
  #home > div button {
    width: 47.6%;
    margin-left: 26.2%;
    height: 50px; }
  #home > div a:last-child > button {
    height: 50px;
    width: 50px; }
  #home > div div > :nth-last-child(2) {
    width: 77.12%;
    margin-left: 1.6%; }
  #home > div div > :last-child {
    width: 18.08%;
    margin-left: 1.6%; }

  #home > div:nth-child(2) > a:nth-child(8) > button:nth-child(1) {
    width: 31.2%;
    margin-left: 34.4%; } }
@media all and (min-width: 720px) {
  #home > div div, #home > div div > a, #home > div a:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  #home > div div > a > p {
    width: 64%;
    margin-left: 1.6%; }
  #home > div div > a > img {
    width: 23%;
    margin-left: 9.8%; }
  #home > div div > a:nth-child(3) > p {
    width: 55.8%;
    margin-left: 1.6%; }
  #home > div div > a:nth-child(1) {
    width: 55.8%;
    margin-left: 9.8%;
    text-align: center; }
  #home > div div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }
  #home > div div > p {
    width: 23%;
    margin-left: 1.6%;
    text-align: center; }
  #home > div a:last-child > button {
    height: 50px;
    width: 50px; }
  #home > div div > :nth-last-child(2) {
    width: 86.96%;
    margin-left: 1.6%; }

  #home > div:nth-child(2) > a:nth-child(8) > button:nth-child(1) {
    width: 14.8%;
    margin-left: 42.6%; } }
/* Fin home */
/* Debut Inscription/connection */
#log {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#log > input, #log > p {
  width: 100%;
  text-align: center; }

#log input:last-child {
  margin-top: 20px;
  margin: auto;
  margin-top: 20px; }

@media all and (min-width: 720px) {
  #log {
    width: 31.2%;
    margin-left: 34.4%; } }
@media all and (max-width: 720px) {
  #log > form {
    width: 77.12%;
    margin-left: 11.44%; } }
/* Fin Inscription/Connection */
/* Debut Prestations */
/*#prestations > div > div > div {
	@include grille(1, 1.6%, 0, 1);
}
#prestations > div > div > div > a {
	@include grille(10, 1.6%, 0, 10);
}*/
@media all and (min-width: 720px) {
  #prestations div, #prestations div > a, #prestations a:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  #prestations div > a > p {
    width: 64%;
    margin-left: 1.6%; }
  #prestations div > a > img {
    width: 23%;
    margin-left: 9.8%; }
  #prestations div > a:nth-child(3) > p {
    width: 55.8%;
    margin-left: 1.6%; }
  #prestations div > a:nth-child(1) {
    width: 55.8%;
    margin-left: 9.8%;
    text-align: center; }
  #prestations div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }
  #prestations div > p {
    width: 23%;
    margin-left: 1.6%;
    text-align: center; }
  #prestations a:last-child > button {
    height: 50px;
    width: 50px; }
  #prestations div > :nth-last-child(2) {
    width: 86.96%;
    margin-left: 1.6%; } }
@media all and (max-width: 720px) {
  #prestations div > a > img {
    width: 31.2%;
    margin-left: 1.6%; }
  #prestations div > a > p {
    width: 64%;
    margin-left: 1.6%; }
  #prestations div > a:nth-child(3) > p {
    width: 64%;
    margin-left: 1.6%; }
  #prestations div > a, #prestations div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  #prestations div > a:nth-child(1) {
    width: 64%;
    margin-left: 1.6%;
    text-align: center; }
  #prestations div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }
  #prestations div > p {
    width: 31.2%;
    margin-left: 1.6%;
    text-align: center; }
  #prestations button {
    width: 47.6%;
    margin-left: 26.2%;
    height: 50px; }
  #prestations a:last-child > button {
    height: 50px;
    width: 50px; }
  #prestations div > :nth-last-child(2) {
    width: 77.12%;
    margin-left: 1.6%; }
  #prestations div > :last-child {
    width: 18.08%;
    margin-left: 1.6%; } }
/* Fin Prestations */
/* Debut prestation */
#prestation, #prestation > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#prestation > div > a:last-child > button {
  width: 100%; }

#prestation > p:first-child {
  text-align: left;
  font-size: 30px;
  margin-top: 50px; }

#prestation > p:nth-child(2) {
  text-align: right;
  font-size: 30px;
  margin-top: 50px; }

#prestation > div {
  width: 96.8%;
  margin-left: 1.6%; }

#prestation > p {
  text-align: justify; }

@media all and (min-width: 720px) {
  #prestation > p:first-child {
    width: 31.2%;
    margin-left: 18%; }

  #prestation > p:nth-child(2) {
    width: 31.2%;
    margin-left: 1.6%; }

  #prestation img {
    width: 64%;
    margin-left: 18%; }

  #prestation > p {
    width: 64%;
    margin-left: 18%; }

  #prestation > div > a {
    width: 64%;
    margin-left: 18%; } }
@media all and (max-width: 720px) {
  #prestation > p:first-child {
    width: 47.6%;
    margin-left: 1.6%; }

  #prestation > p:nth-child(2) {
    width: 47.6%;
    margin-left: 1.6%; }

  #prestation img {
    width: 96.8%;
    margin-left: 1.6%; }

  #prestation > p {
    width: 96.8%;
    margin-left: 1.6%; }

  #prestation a:last-child {
    width: 96.8%;
    margin-left: 1.6%; } }
/* Fin prestation */
/* Debut box */
#box, #box > div > a, #box > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#box > p, #box > textarea, #box > h2 {
  text-align: center;
  margin-bottom: 0; }

#box > textarea {
  margin-top: 15px; }

#box > input {
  box-sizing: border-box;
  margin-top: 15px; }

#box > div {
  border: 2px black solid;
  margin-top: 20px; }

#box > div > p:nth-child(1), #box > div > p:nth-child(2), #box > div > p:nth-child(3) {
  text-align: center; }

#box > div > a {
  text-align: right;
  font-size: 30px; }

#box > div > img {
  width: 27.92%;
  margin-left: 1.6%; }

#box > div > p:last-child {
  width: 67.28%;
  margin-left: 1.6%; }

#box > div > a:nth-child(2) {
  width: 8.24%;
  margin-left: 1.6%; }

@media all and (min-width: 720px) {
  #box > input {
    width: 31.2%;
    margin-left: 34.4%; }

  #box > p, #box > textarea, #box > h2 {
    width: 80.4%;
    margin-left: 9.8%; }

  #box > div {
    width: 80.4%;
    margin-left: 9.8%; }

  #box > div > p:nth-child(1), #box > div > p:nth-child(2), #box > div > p:nth-child(3) {
    width: 23%;
    margin-left: 1.6%; }

  #box > div > a {
    width: 1.352%;
    margin-left: 23.248%; } }
@media all and (max-width: 720px) {
  #box > input {
    width: 57.44%;
    margin-left: 21.28%; }

  #box > p, #box > textarea, #box > h2 {
    width: 96.8%;
    margin-left: 1.6%; }

  #box > div {
    width: 96.8%;
    margin-left: 1.6%; }

  #box > div > p:nth-child(1), #box > div > p:nth-child(2), #box > div > p:nth-child(3) {
    width: 23%;
    margin-left: 1.6%; }

  #box > div > a {
    width: 3.32%;
    margin-left: 21.28%; } }
/* Fin box */
/*  Debut viewBox */
#viewBox > p, #viewBox > div {
  text-align: center; }

#viewBox > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px black solid;
  margin-top: 10px; }

#viewBox > div:last-child {
  border: none; }

#viewBox > div > a {
  margin: auto;
  margin-top: 20px; }

#viewBox > div > p:nth-child(1), #viewBox > div > p:nth-child(2), #viewBox > div > p:nth-child(3) {
  width: 31.2%;
  margin-left: 1.6%; }

#viewBox > div > img {
  width: 23%;
  margin-left: 1.6%; }

#viewBox > div:last-child > a > button {
  width: 100%; }

#viewBox > div > p:nth-child(5) {
  width: 64%;
  margin-left: 1.6%; }

#viewBox > div:last-child > a {
  width: 31.2%;
  margin-left: 34.4%; }

@media all and (min-width: 720px) {
  #viewBox > p, #viewBox > div {
    width: 80.4%;
    margin-left: 9.8%; } }
@media all and (max-width: 720px) {
  #viewBox > p, #viewBox > div {
    width: 96.8%;
    margin-left: 1.6%; } }
/* Fin viewBox */
/* Debut boxes */
#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#boxes > p {
  width: 96.8%;
  margin-left: 1.6%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0; }

#boxes > div {
  width: 96.8%;
  margin-left: 1.6%;
  text-align: center;
  margin-top: 10px; }

@media all and (min-width: 720px) {
  #boxes {
    width: 80.4%;
    margin-left: 9.8%; }

  #boxes > div > a > button {
    width: 20%;
    max-width: 200px; } }
@media all and (max-width: 720px) {
  #boxes {
    width: 96.8%;
    margin-left: 1.6%; }

  #boxes > div > a > button {
    width: 50%; } }
/* Fin boxes */
/* Debut profile */
#profile > p {
  text-align: center;
  margin-top: 20px; }

#profile > a > button {
  width: 100%; }

@media all and (min-width: 720px) {
  #profile {
    width: 31.2%;
    margin-left: 34.4%; } }
@media all and (max-width: 720px) {
  #profile {
    width: 96.8%;
    margin-left: 1.6%; } }
/* Fin profile */
/* Debut Viewprofile */
#viewProfile > p {
  text-align: center;
  margin-top: 20px; }

#viewProfile > input {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box; }

@media all and (min-width: 720px) {
  #viewProfile {
    width: 31.2%;
    margin-left: 34.4%; } }
@media all and (max-width: 720px) {
  #viewProfile {
    width: 96.8%;
    margin-left: 1.6%; } }
/* Fin Viewprofile */
/* Debut summary */
#summary, #summary > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#summary > :last-child {
  width: 80.4%;
  margin-left: 9.8%;
  text-align: center; }

#summary + div > a > button {
  width: 100%; }

#summary > div > p {
  text-align: center; }

#summary + div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#summary > div:nth-child(even) {
  background-color: #DDDDDD; }

@media all and (min-width: 720px) {
  #summary > div {
    width: 80.4%;
    margin-left: 9.8%; }

  #summary > div > p {
    width: 47.6%;
    margin-left: 1.6%; }

  #summary + div > a {
    width: 31.2%;
    margin-left: 34.4%; } }
@media all and (max-width: 720px) {
  #summary > div {
    width: 96.8%;
    margin-left: 1.6%; }

  #summary > div > p {
    width: 47.6%;
    margin-left: 1.6%; }

  #summary + div > a {
    width: 57.44%;
    margin-left: 21.28%; } }
/* Fin summary */
/* Debut achat */
#achat > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px; }

#achat > p:first-child {
  text-align: center;
  font-size: 25px; }

@media all and (min-width: 720px) {
  #achat > form > div:first-child {
    width: 14.8%;
    margin-left: 18%; }

  #achat form > div {
    width: 14.8%;
    margin-left: 1.6%;
    text-align: center; }

  #achat form > div > img {
    width: 110px; }

  #achat > form > input:last-child {
    width: 31.2%;
    margin-left: 34.4%;
    height: 50px; } }
@media all and (max-width: 720px) {
  #achat > form > div:first-child {
    width: 23%;
    margin-left: 1.6%; }

  #achat form > div {
    width: 23%;
    margin-left: 1.6%;
    text-align: center; }

  #achat form > div > img {
    width: 100%; }

  #achat > form > input:last-child {
    width: 31.2%;
    margin-left: 34.4%;
    height: 50px; } }
/* Fin achat */
/* Debut categories */
#categories > div {
  text-align: center;
  margin-top: 25px; }

/* Fin categories */

/*# sourceMappingURL=style.css.map */
