/*
$cols: dans une grille de x colonnes
*/
/*
.col{
	margin-left: $size_gutter;
	margin-bottom: 5px;
	box-sizing: border-box;
}*/
/* Debut regle global */
body {
  margin: 0;
  background-color: #eaecee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%; }

h1 {
  text-align: center; }

* {
  font-family: sans-serif; }

a {
  color: black;
  text-decoration: none; }

/* Fin regle global */
/* Debut Menu */
body > footer {
  text-align: center;
  margin-top: 50px;
  width: 96.8%;
  margin-left: 1.6%; }

@media screen and (max-width: 720px) {
  header button {
    width: 47.6%;
    margin-left: 1.6%;
    height: 50px; } }
@media screen and (min-width: 720px) {
  header {
    background-color: DarkGray; }

  header a:nth-child(1) {
    width: 14.8%;
    margin-left: 1.6%;
    height: 50px;
    flex-grow: 2;
    z-index: 1; }

  header a:nth-child(2) {
    width: 14.8%;
    margin-left: 1.6%;
    height: 50px;
    flex-grow: 2;
    z-index: 1; }

  header button {
    height: 50px;
    width: -moz-available; }

  header a:last-child {
    width: 64%;
    margin-left: 1.6%;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 1;
    color: #00f0f0; }

  header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center; } }
/* Fin Menu */
/* Debut Home */
@media screen and (max-width: 720px) {
  #home > div > div > a > img {
    width: 31.2%;
    margin-left: 1.6%; }

  #home > div > div > a > p {
    width: 64%;
    margin-left: 1.6%; }

  #home > div > div > a:nth-child(3) > p {
    width: 64%;
    margin-left: 1.6%; }

  #home > div > div > a, #home > div div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  #home > div div > a:nth-child(1) {
    width: 64%;
    margin-left: 1.6%;
    text-align: center; }

  #home > div > div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }

  #home > div > div > p {
    width: 31.2%;
    margin-left: 1.6%;
    text-align: center; }

  button {
    width: 47.6%;
    margin-left: 26.2%;
    height: 50px; }

  #home > img:first-child {
    display: none; } }
@media screen and (min-width: 720px) {
  #home > div > div > a > p {
    width: 55.8%;
    margin-left: 1.6%; }

  #home > div > div > a > img {
    width: 23%;
    margin-left: 9.8%; }

  #home > img:first-child {
    width: 100%;
    z-index: 0; }

  #home > div > div > a:nth-child(3) > p {
    width: 55.8%;
    margin-left: 1.6%; }

  #home > div > div > a, #home > div div, #home div > a:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  #home div div a {
    width: 100%; }

  #home > div div > a:nth-child(1) {
    width: 55.8%;
    margin-left: 9.8%;
    text-align: center; }

  #home > div > div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }

  #home > div > div > p {
    width: 23%;
    margin-left: 1.6%;
    text-align: center; }

  #home div > a:last-child > button {
    width: 14.8%;
    margin-left: 42.6%;
    height: 50px; } }
/* Fin home */
/* Debut Inscription/connection */
@media screen and (min-width: 720px) {
  article > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 31.2%;
    margin-left: 34.4%; }

  article > form > input, article > form > p {
    width: 100%;
    text-align: center; }

  article input:last-child {
    width: auto;
    margin: auto;
    margin-top: 20px; } }
@media screen and (max-width: 720px) {
  article > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77.12%;
    margin-left: 11.44%; }

  article > form > input, article > form > p {
    width: 100%;
    text-align: center; }

  article input:last-child {
    margin-top: 20px; } }
/* Fin Inscription/Connection */
/* Debut Prestations */
@media screen and (min-width: 720px) {
  #prestations > div > div > a > p {
    width: 55.8%;
    margin-left: 1.6%; }

  #prestations > div > div > a > img {
    width: 23%;
    margin-left: 9.8%; }

  #prestations > img:first-child {
    width: 100%;
    z-index: 0; }

  #prestations > div > div > a:nth-child(3) > p {
    width: 55.8%;
    margin-left: 1.6%; }

  #prestations > div > div > a, #prestations > div div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  #prestations div div a {
    width: 100%; }

  #prestations > div div > a:nth-child(1) {
    width: 55.8%;
    margin-left: 9.8%;
    text-align: center; }

  #prestations > div > div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }

  #prestations > div > div > p {
    width: 23%;
    margin-left: 1.6%;
    text-align: center; }

  #prestations div > a:last-child > button {
    height: 50px; }

  #prestations > div > div > :nth-child(4) {
    width: 86.96%;
    margin-left: 1.6%; }

  #prestations > div > div > :nth-child(5) {
    width: 8.24%;
    margin-left: 1.6%; } }
@media screen and (max-width: 720px) {
  #prestations > div > div > a > img {
    width: 31.2%;
    margin-left: 1.6%; }

  #prestations > div > div > a > p {
    width: 64%;
    margin-left: 1.6%; }

  #prestations > div > div > a:nth-child(3) > p {
    width: 64%;
    margin-left: 1.6%; }

  #prestations > div > div > a, #prestations > div div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  #prestations > div div > a:nth-child(1) {
    width: 64%;
    margin-left: 1.6%;
    text-align: center; }

  #prestations > div > div > a:nth-child(1) > p {
    width: 47.6%;
    margin-left: 1.6%; }

  #prestations > div > div > p {
    width: 31.2%;
    margin-left: 1.6%;
    text-align: center; }

  button {
    width: 47.6%;
    margin-left: 26.2%;
    height: 50px; }

  #prestations > img:first-child {
    display: none; }

  #prestations div > a:last-child > button {
    height: 50px; }

  #prestations > div > div > :nth-child(4) {
    width: 67.28%;
    margin-left: 1.6%; }

  #prestations > div > div > :nth-child(5) {
    width: 27.92%;
    margin-left: 1.6%; } }
/* Fin prestations */

/*# sourceMappingURL=style.css.map */
